.Menu{
margin-left: 120px;
    
}

.menu-title{
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 500;
    background-color: transparent;
    border-bottom-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-family: niveau-grotesk,Interstate,sans-serif;
    --text-opacity: 1;
    color: rgba(159,27,50,var(--text-opacity));
}

.menu-list{
    list-style: none;

}

.menu-list li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-decoration: none;
    --text-opacity: 1;
    color: rgba(55,47,49,var(--text-opacity));
    line-height: 1.5rem;
    text-align: left;
    font-size: 18px;
}
