.Inscription{
    margin: 50px;
}

.input-text{
    background-color: #fff;
    border: 1px solid #868686;
    box-sizing: border-box;
    font-family: FuturaBook,Verdana,sans-serif;
    color: #404040;
    font-size: 15px;
    padding: 12px 15px;
    text-indent: 0;
    width: 100%;
    outline: 0;
    line-height: normal;
}

.label{
    max-width: 560px;
}
h1{
    font-size: 30px;
    line-height: 1.2em;
    width: 100%;
    margin:10px;
    text-align: left;
    color: #404040;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.submit{
    margin-top: 10px;
    width: 300px;
    height: 38px;
    font-size: large;
}