.News{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.parent{
    display: flex;

}

.child-img{
margin: 50px;
box-shadow: -2rem 2rem 0px 0px #f6f4f5;
}
.child-news{
margin: 50px;
align-items: center;
text-align: center;
}

.child-news h1{
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    font-family: niveau-grotesk,SabonLTPro,sans-serif;
    --text-opacity: 1;
    color: rgba(55,47,49,var(--text-opacity));
}
.child-news p{
    ont-family: niveau-grotesk,Interstate,sans-serif;
    font-size: 16px;
    olor: rgba(55,47,49,var(--text-opacity));
    line-height: 24px;
}
